/*基本信息著录框的样式*/
.baseWriteInput {
  max-width: 300px;
  min-width: 230px;
  float: right;
}

/*（基本信息界面）发文号特殊样式*/
.baseWriteInputSpec {
  max-width: 230px;
  /*min-width: 230px;*/
  float: right;
}

/*专业信息特性著录框的样式*/
.profWriteInput {
  width: 156px;
  float: right;
}
/*专业信息著录界面的样式*/
.profButtonView{
  margin-top: 20px;
}
/*专业信息建设地址样式（以下4个）*/
.profSpecCss {
  max-width: 160px;
  min-width: 120px;
}
.buildingAddressCss {
  font-size: 15px;
  padding-top: 5px;
  /*padding-left: 10px;*/
}
.buildingAddressCss2 {
  font-size: 14px;
}
/*专业信息表格样式*/
.profSpecTableCss{
  font-size: 15px;
  /*padding-left: 10px;*/
}
/*专业信息著录含有单位的样式*/
.profWriteUnit{
  padding-top: 5px;
  padding-left: 5px;
}
/*显示特性专业表格时界面样式css*/
.mainSpecialView{
  margin-bottom: 30px;
}
/*专业信息著录框的样式*/
.writeInput {
  max-width: 284px;
  min-width: 220px;
  float: right;
}
/*专业信息操作按钮靠右显示*/
.profButtonFloat{
  float: right;
}
/*D21,D22的著录框-独特样式*/
.D212WriteInput {
  /*width: 280px;*/
  /*float: right;*/
}
/*D31公建配套的著录框-独特样式*/
.D31WriteInput{
  /*width: 220px;*/
  /*float: right;*/
}
/*D31报建项目详细，D61验收建筑层数与面积输入框-独特样式*/
.D31D61NumWriteInput {
  /*width: 100px;*/
  /*float: right;*/
}
/*D31,D61表格显示样式*/
.routeView {
  margin-top: 10px;
  margin-bottom: 10px;
}
/*D61的公建配套输入框-独特样式*/
.D61WriteInput {
  /*width: 200px;*/
  /*float: right;*/
}
/*文件级信息著录框的样式*/
.fileWriteInput {
  /*width: 220px;*/
  /*float: right;*/
}

/*弹窗显示字体样式*/
.addDataCss{
  font-size: 15px;
  /*text-align: center;*/
}
